@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema Faturator 5000</h1>
    <p class="lead">Escolha seu destino</p>
    <p><a href="@Url.Action("Index", "Clientes")" class="btn btn-primary btn-lg">Clientes &nbsp;<span class="glyphicon glyphicon-user"></span></a></p>
    <p><a href="@Url.Action("Index", "Pedidos")" class="btn btn-success btn-lg">Faturamento &nbsp;<span class="glyphicon glyphicon-signal"></a></p>
</div>

<button></button>