@model Model.VM.vmFaturamentoTotal

@{
    ViewBag.Title = "Faturamento";
}

<h2>Faturamento</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ano</th>
                <th scope="col">Mês</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Faturamentos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mesNome)
                </td>
                <td>
                    R$@Html.DisplayFor(modelItem => item.valorTotal)
                </td>
            </tr>
         }
        </tbody>
    </table>    
</div>